body {
    background-image: url("assets/images/tero.png");
    background-color: #cccccc;
    }
h1 {
    font-size: 24px;
    color: red;
    text-align: center;
    text-transform: uppercase;
}
a {
    color: blue;
  }
  a:hover {
    color: green;
  }
  img {
    border: 1px solid blue;
    width: 260px;
  }